* {
  text-decoration: none;
  box-sizing: content-box;
  outline: none;
  background: none repeat scroll 0 0 transparent;
  border: 0;
  border-spacing: 0;
  list-style-type: none;
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-appearance: none;
}

#mobileNav {
  background: #fff;
  display: inline-flex;
  justify-content: space-evenly;
  padding: 0.375rem 7.625rem 0.375rem 1.4375rem;
  align-items: center;
  gap: 4rem;
  background: #fff;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  height: 4.1875rem;
  width: 100vw;
}

#menuBtn {
  height: 3.1875rem;
  flex: 0.1;
  padding: 1%;
}

#ynyLogo {
  flex: 1;
  height: 4.1875rem;
  padding: 0.3rem;
}

#desktopNav {
  display: none;
}

.menuPage {
  display: none;
  position: fixed;
  top: 0;
  z-index: 1;
  background-color: #fff;
  width: 100%;
  height: 100vh;
}

.menuPageContent {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  background-color: #fff;
  color: #344563;
  padding: 6%;
  width: 100%;
  height: 100vh;
  animation: fadeIn 1s;
}

.showMenu {
  display: block;
}

.menuPageList {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  margin-top: 10%;
  width: 100%;
  line-height: 54px;
}

.menuPageList li a {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-size: 195%;
  font-weight: 600;
  cursor: pointer;
  color: #3a4a42;
  width: 100%;
  align-self: center;
  transition: all 0.5s;
  letter-spacing: 0.15rem;
}

.menuPageList li a:hover {
  color: #36b37f;
  transition: all 0.6s;
}

.menuX {
  position: absolute;
  color: #67798e;
  margin-left: 85%;
  margin-bottom: 0;
}

.menuX:hover,
.menuX:focus {
  opacity: 0.7;
  cursor: pointer;
  transition: all 0.3s;
  transform: scale(1.15);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
  padding-left: 1rem;
  margin: 0 1rem;
}

#fst_page {
  background-image: url("../images/mobile-hero_container.svg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Inter", sans-serif;
  align-items: flex-start;
  text-align: left;
  padding: 5rem 0rem 4.4375rem 0rem;
}

.small {
  font-weight: 400;
  font-size: 1.3rem;
}

.fst_page_h1 {
  background-image: url("../images/textBg.jpg");
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 800;
  font-size: 1.5rem;
  white-space: nowrap;
}

.fst_page_p1 {
  margin: 1.5rem auto 0.5rem 0.1rem;
  font-weight: 400;
  background: #f8f8f8;
  border: 2px solid #fff;
  font-size: 0.8rem;
  line-height: 1.0625rem;
  color: #515151;
  height: 5.3125rem;
  padding: 1rem 1rem 1.5rem 0.1rem;
}

.fst_page_h2 {
  color: #595959;
  font-size: 1.25rem;
  font-family: Gothic A1;
  font-weight: 900;
  margin: 0.5rem auto 0.2rem 0.1rem;
}

.fst_page_p2 {
  color: #868686;
  font-size: 0.8125rem;
  font-family: Gothic A1;
  font-weight: 700;
  letter-spacing: -0.01625rem;
  height: 0.8125rem;
  margin: 0;
}

#Scd_page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../images/program_content.svg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0.6875rem 0.75rem;
  gap: 0.4rem;
}

#fst_part {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#fst_part h2 {
  color: #fff;
  font-size: 1.25rem;
  font-family: "Inter", sans-serif;
  line-height: 1.75rem;
  letter-spacing: -0.05rem;
  margin: 2rem auto 0rem auto;
}

.underline {
  width: 21%;
  height: 6px;
  margin: 0.5rem auto;
}

.programs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  align-items: stretch;
  padding: 0.5rem;
}

.programs li {
  background-color: rgba(150, 150, 150, 0.2);
  stroke-opacity: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.programs li > * {
  padding: 0.3rem;
  align-self: center;
}

.programs li img {
  flex: 0.5;
}

.programs li h3 {
  text-align: center;
  flex: 1;
  align-self: center;
  width: auto;
  height: 1.50519rem;
  color: #FF5438;
  font-size: 0.89194rem;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  line-height: 1.56094rem;
  letter-spacing: -0.00894rem;
}

.programs li p {
  flex: 2;
  align-self: flex-start;
  color: #fff;
  font-size: 0.66894rem;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  line-height: 1.39369rem;
  letter-spacing: 0.04013rem;
  margin: 0 0;
}

#last_part {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #FF5438;
  padding: 0.3rem 0.5rem;
}

#last_part .mobile_h3 {
  color: #fff;
  font-size: 1rem;
  font-family: "Inter", sans-serif;
  font-weight: 900;
  line-height: 1.75rem;
  letter-spacing: -0.01rem;
}

#last_part .desktop_h3 {
  display: none;
}

#figuresSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#figuresFst {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

#figuresFst h2 {
  color: #000;
  font-size: 1.25rem;
  font-family: "Inter", sans-serif;
  line-height: 1.75rem;
  letter-spacing: -0.0625rem;
  text-align: center;
  margin: 2rem auto 0rem auto;
}

#figuresScd {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin-top: 1rem;
}

#figures li {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  gap: 0.5rem;
}

#figures li > * {
  gap: 0.4rem;
}

#figures .imgPart {
  flex: 1;
}

#figures .contentPart {
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  align-items: flex-start;
}

#figures .contentPart > * {
  margin: 0;
  padding: 0;
}

#figures li .imgPart img {
  background-image: url("../images/BlackchessBoard.svg");
  background-position: left top;
  background-repeat: no-repeat;
  background-size: 80%;
  padding-top: 5px;
  padding-left: 5px;
  width: 6.6875rem;
  height: 7.87181rem;
}

.viewMore {
  transition: all 0.5s;
  cursor: pointer;
  background: #fff;
  border: 1px solid #DCDCDC;
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 107%;
  letter-spacing: 0.001em;
  word-spacing: normal;
  transition-duration: 0.4s;
  padding: 1rem;
  margin: 0.5rem 0rem;
  width: 100vw;
}

.aboutMain {
  background: #f8f8f8;
}

.aboutFst {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../images/mobileaboutbg.svg);
  background-repeat: no-repeat;
  background-size: cover;
  gap: 0.2rem;
  padding-left: 0.15rem;
  margin-bottom: 3.5rem;
}

.aboutFst div, .aboutScd div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: center;
  padding-left: 0.15rem;
  margin: rem;
}

.aboutFst div h2 {
  color: #FF5438;
  font-weight: 800;
  font-size: 1.5rem;
  text-align: center;
  white-space: nowrap;
  margin-bottom: 3rem;
  margin-top: 1rem;
}

.aboutUnderline {
  display: none;
}

.aboutFst div p {
  background: #f8f8f8;
  color: #000;
  text-align: center;
  font-size: 0.875rem;
  font-family: "Inter", sans-serif;
  line-height: 1.5625rem;
  letter-spacing: -0.0525rem;
  width: 22.25rem;
  word-wrap: break-word;
}

.aboutFst div .contactPar {
  color: #7A7A7A;
  text-align: center;
  font-size: 0.75rem;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  line-height: 1.5625rem;
  letter-spacing: -0.0525rem;
  width: 17rem;
  word-wrap: break-word;
}

.aboutFst div h3 {
  color: #5F5F5F;
  text-align: center;
  font-size: 0.75rem;
  font-family: "Inter", sans-serif;
  font-weight: 800;
  line-height: 1.5625rem;
  letter-spacing: 0.015rem;
  text-decoration-line: underline;
}

.aboutScd {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
  padding-left: 0.15rem;
  background: #f8f8f8;
}

.aboutScd div h2 {
  color: #2C2C2C;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
  word-wrap: break-word;
  margin-bottom: 0.3rem;
}

.aboutScd div .underline {
  width: 6%;
}

.aboutScd div p {
  background: #f8f8f8;
  color: #838383;
  text-align: center;
  font-size: 0.875rem;
  font-family: "Inter", sans-serif;
  line-height: 1.5625rem;
  letter-spacing: -0.0525rem;
  width: 22.25rem;
  word-wrap: break-word;
}

.aboutScd div img {
  width: 14.1875rem;
}

.aboutThrd {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
  padding-left: 0.15rem;
  background: #f8f8f8;
}

.aboutThrd div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.aboutThrd div h2 {
  color: #838383;
  text-align: center;
  font-size: 1rem;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  line-height: 1.3125rem;
  letter-spacing: -0.03rem;
}

.aboutThrd div p {
  color: #838383;
  text-align: center;
  font-size: 0.75rem;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  line-height: 1.3125rem;
  letter-spacing: -0.0225rem;
  width: 20rem;
}

.aboutThrd div div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 0.3rem;
}

.oldSummits1, .oldSummits2 {
  background-image: url("../images/qatar.svg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 11.40394rem;
  width: 20.875rem;
  padding: 0.3rem;
}

.oldSummits2 {
  background-image: url("../images/eygpt.svg");
}

.oldSummits1 h3, .oldSummits2 h3 {
  color: #fff;
  font-size: 1rem;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  line-height: 1.3125rem;
}

.partners {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
  padding-left: 0.15rem;
  background: #414246;
  padding: 1rem;
}

.partners div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 0.15rem;
}

.partners div h2 {
  color: #fff;
  font-size: 1.25rem;
  font-family: "Inter", sans-serif;
  line-height: 1.75rem;
  letter-spacing: -0.0125rem;
}

.partners div .underline {
  margin-top: 0.1rem;
}

.partners ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  padding-left: 0.15rem;
}

.partners ul li img {
  width: 6rem;
  height: 2rem;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  background: #414246;
  opacity: 85%;
  margin-top: 2rem;
}

footer div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

footer div img {
  flex: 0.5;
  width: 20%;
  background: #fff;
}

footer div .arabP {
  display: none;
}

footer div p {
  flex: 2;
  color: #fff;
  font-size: 0.625rem;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  line-height: 0.81738rem;
  letter-spacing: -0.00625rem;
}

/*# sourceMappingURL=mobile.css.map */
