@import mobile

// stylelint-disable no-descending-specificity 

#desktopNav
    background: $primaryColor
    box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.25)
    display: flex
    flex-direction: column

.fst_header
    @include rowFlex
    align-items: center
    justify-content: flex-end
    gap: 1.25rem
    background-color: #3e3e3e
    margin: 0
    height: 1.5rem
    align-self: stretch
.fst_header li
    font-family: $InterFont
    font-weight: 500
    font-size: 0.5rem
    color: $primaryColor
.sed_header
    @include rowFlex
    justify-content: center
    align-items: center
    background-color: $primaryColor
    color: #868686
    height: 2.87rem
    padding-top: 0.4rem 
    padding-bottom: .2rem
    gap: 14.5rem
.logo_img
    height: 100%
.labels
    flex: 3
    @include rowFlex
    justify-content: center
    align-items: center
    gap: 1.8rem
    margin: 0
.labels li a
    color: #868686
    font-size: 0.875rem
    font-family: $InterFont
    font-style: normal
    font-weight: 800
    line-height: normal
    font-size: 0.5rem
    font-weight: 800
#bordered_label
    color: #ec4327
    border: 3px solid #ec4327
    white-space: nowrap
    padding: 0.3rem
#mobileNav
    display: none
// fist page 
#fst_page
    background-image: url("../images/desktopbg.svg")
    background-repeat: no-repeat
    // padding: 2rem 12rem 3rem 7rem
.container
    align-items: flex-start
    text-align: left
    margin-top: 2rem
.small
    font-size: 1.5rem
.fst_page_h1
    flex: .5
    font-weight: 700
    font-size: 1.8rem,
.fst_page_p1
    margin: 2.5rem auto .5rem auto
    font-weight: 400
    border: 5px solid $primaryColor
    background: #f8f8f8
    color: #515151
    font-size: .8rem
    width: auto
    height: auto
    padding: .5rem

.fst_page_h2
    margin-top: 2rem
    color: #595959
    font-size: 1.4rem
.fst_page_p2
    font-size: 1rem
    letter-spacing: -0.01625rem
// programs section
#Scd_page
    @include columnFlex
    justify-content: center
    align-items: center
 
footer div
    @include rowFlex
    justify-content: center
    align-items: center
    gap: 8rem
footer div div
    flex: 2
    @include columnFlex
    justify-content: center
    align-items: flex-start
    gap: .5rem
footer div div p
    color: #000
    font-size: 1rem
    font-family: $InterFont
    font-weight: 700
    line-height: 1.3rem
    letter-spacing: -0.056rem
.partners div
    @include columnFlex
    justify-content: center
    align-items: center
.aboutFst  div h2
    font-size: 1.8rem
    margin-bottom: .5rem
.aboutScd div h2
    font-size: 1.2rem
    line-height: 1.75rem
    margin-bottom: .05rem
.aboutThrd div h2
    color: #2c2c2c
    font-size: 1.4rem
    line-height: 1.75rem
    letter-spacing: -0.05625rem
#fst_part
    @include columnFlex
    justify-content: center
    align-items: center
.partners div h2
    color: $primaryColor
    font-size: 1.25rem
    font-family: $InterFont
    line-height: 1.75rem
    letter-spacing: -0.0125rem
#fst_part h2
    font-size: 1.4rem
    line-height: 0
    letter-spacing: -0.01875rem
    margin: 0.5rem
.programs li img
    flex: 0.4
.aboutScd div img
    width: 22rem
    height: 12.20494rem
.partners ul
    @include rowFlex
    justify-content: center
    align-items: center
    flex-wrap: wrap
    gap: .5rem
    padding-left: .15rem
.partners ul li img
    width: 6rem
    height: 2rem
#fst_part img
    width: 25%
    height: 8px
    margin: .5rem auto 2rem auto
.programs
    @include rowFlex
    align-items: stretch
    gap: 0.3rem
    padding: .2rem
.programs li
    @include columnFlex
    text-align: center
    gap: .1rem
    height: 10.5rem
    width: 9rem
.programs li > *
    align-items: center
.oldSummits1 h3, .oldSummits2 h3
    font-size: 1.2rem
.programs li h3
    flex: .1
    font-size: 1rem
    font-weight: 700
.programs li p
    font-size: 0.7rem
    font-family: $InterFont
    font-weight: 500
    letter-spacing: 0.015rem
#last_part
    @include columnFlex
    justify-content: center
    align-items: center
    background: transparent
    color: $primaryColor
    padding: 1rem 2.125rem
#last_part .desktop_h3
    display: inline
    color: $primaryColor
    font-size: 1rem
    font-family: $InterFont
    letter-spacing: -0.0125rem
    text-decoration-line: underline
#last_part .mobile_h3
    display: none

// Figures section
#figuresFst h2
    color: #000
    font-size: 1.25rem
    font-family: $InterFont
    line-height: 1.75rem
    letter-spacing: -0.0625rem
    text-align: center
    margin: 2rem auto 0 auto
#figuresScd
    @include columnFlex
    justify-content: center
    align-items: center
    gap: .5rem
    margin-top: 1rem
#figures
    @include twoThreeGrid
    gap: .5rem

.viewMore
    display: none

.aboutMain
    background: #f8f8f8

// About section

.aboutFst
    background-image: url(../images/aboutbg.svg)
.aboutFst  div h2 span
    display: none
.aboutUnderline
    display: block
    margin-bottom: 1.5rem
.aboutFst  div p
    border: 4px solid $primaryColor
    width: 40rem
    padding: 1rem
.aboutFst  div .contactPar
    border: none
    font-size: .9rem
    letter-spacing: 0.03rem
    width: 40rem
.aboutFst  div h3
    font-size: .9rem
    letter-spacing: 0.02125rem

.aboutScd div .underline
    width: 7%
    height: 10px
.aboutScd div p
    font-size: 1rem
    line-height: 1.3125rem
    letter-spacing: -0.03rem
    width: 31rem
    margin-bottom: .5rem
.aboutThrd div .underline
    align-self: center
    width: 8%
.aboutThrd div p
    font-size: .7rem
    letter-spacing: -0.03rem
    width: 26rem
    margin-bottom: 1rem
.aboutThrd div div
    @include rowFlex
    text-align: center
    justify-content: center
    align-items: center
    gap: .8rem
.oldSummits1, .oldSummits2
    padding: .1rem
.partners
    margin-top: 3rem
    gap: .5rem
    margin-top: 2rem
    @include columnFlex
    justify-content: center
    align-items: center
    gap: .2rem
    // padding: 0 0 0 .15rem
    background: #414246
.partners div .underline
    margin-top: .1rem
    width: 20%
footer
    margin-top: 0
    opacity: 1
    background: #f2f2f2
footer div .logo_img
    flex: 1
    width: 25%
    background: none
footer div .arabP
    display: block
.logo_img_mobile
    display: none

.fst_header,
.sed_header,
.container,
.figuresScd,
footer,
.partners,
.programs,
section
    padding-right: calc(20% - 100px)
    padding-left: calc(20% - 100px)
