@import main
#mobileNav
    display: none

#desktopNav
    background: #FFFFFF
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25)
    display: flex
    flex-direction: column

.fst_header
    @include rowFlex
    justify-content: end
    padding: 1rem 3rem
    gap: 1.25rem
    background-color: #3e3e3e
    margin: 0
    height: .7rem
.fst_header li
    font-family: $InterFont
    font-weight: 500
    font-size: 0.5rem
    color: $primaryColor
.sed_header
    @include rowFlex
    background-color: $primaryColor
    color: #868686
    height: 4.6875rem
    padding: 0rem 12.375rem 0rem 13.0625rem
    gap: 10.5rem
.logo_img
    height: 100%
    flex: 1
    padding: 0.5rem 0rem 1rem 0rem
.labels
    flex: 3
    @include rowFlex
    gap: 2.06rem
    margin: 0
.labels li
    font-size: 0.5rem
    font-weight: 800
.bordered_label
    color: #ec4327
    border: 4px solid #EC4327
    white-space: nowrap
    padding: 0.6rem
#mobileNav
    display: none
#fst_page
    background-image: url("../images/desktopbg.svg")
    background-repeat: no-repeat
    padding: 2rem 0rem 4.4375rem 0rem
    // background-size: 100%
.fst_page_h1
    margin-top: 1rem
    background-image: url("../images/textBg.jpg")
    background-repeat: no-repeat
    font-weight: 800
    font-size: 3.5rem
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent
.fst_page_p1
    margin-top: 1rem
    font-weight: 400
    border: 8.497px solid $primaryColor
    background: #F8F8F8
    color: #515151
    font-size: 1.59313rem
    line-height: 2.25694rem
    letter-spacing: -0.01594rem
    width: auto
    height: 11.28475rem

.fst_page_h2
    margin-top: 2rem
    color: #595959
    font-size: 2.65525rem
.fst_page_p2
    font-size: 1.72588rem
    letter-spacing: -0.01625rem
// programs section
#Scd_page
    @include columnFlex
    padding: 1.6875rem 1.375rem

#fst_part
    @include columnFlex
#fst_part h2
    font-size: 1.875rem
    line-height: 1.75rem
    letter-spacing: -0.01875rem
    margin: .5rem
#fst_part img
    width: 25%
    height: 8px
    margin: .5rem auto 2rem auto
.programs
    @include rowFlex
    align-items: stretch
    justify-content: center
    gap: 0.2rem
.programs li
    @include columnFlex
    padding: 0.2rem 0.1rem .825rem 0.2rem
    text-align: center
    align-items: center
    gap: .2rem
.programs li > *
    padding: .1rem
    align-items: center
.programs li img
    flex: .4
.programs li h3
    flex: .2
    font-size: 1.3rem
    font-weight: 700
    line-height: 1.75rem
    letter-spacing: -0.015rem
.programs li p
    width: 10rem
    height: 5.75rem
    flex: .6
    font-size: 0.75rem
    font-family: $InterFont
    font-weight: 700
    line-height: 1.5625rem
    letter-spacing: 0.045rem
#last_part
    @include columnFlex
    background: transparent
    color: $primaryColor
    padding: 1rem 2.125rem
#last_part .desktop_h3
    display: inline
    color: $primaryColor
    font-size: 1.25rem
    font-family: $InterFont
    line-height: 1.75rem
    letter-spacing: -0.0125rem
    text-decoration-line: underline
#last_part .mobile_h3
    display: none

// Figures section
#figuresFst h2
    color: #000
    font-size: 1.25rem
    font-family: $InterFont
    line-height: 1.75rem
    letter-spacing: -0.0625rem
    text-align: center
    margin: 2rem auto 0rem auto
#figuresScd
    @include columnFlex
    gap: .5rem
    margin-top: 1rem
#figures
    @include twoThreeGrid

.viewMore
    display: none

    .aboutMain
        background: #f8f8f8

// About section
.aboutFst
    background-image: url(../images/aboutbg.svg)
// .aboutFst div,.aboutScd div

.aboutFst  div h2
    font-size: 1.8rem
    margin-bottom: .5rem
.aboutFst  div h2 span
    display: none
.aboutUnderline
    display: block
    margin-bottom: 1.5rem
.aboutFst  div p
    border: 4px solid $primaryColor
    width: 40rem
    padding: 1rem
.aboutFst  div .contactPar
    border: none
    font-size: .9rem
    letter-spacing: 0.03rem
    width: 40rem
.aboutFst  div h3
    font-size: .9rem
    letter-spacing: 0.02125rem
// .aboutScd
//     @include columnFlex
//     gap: .2rem
//     padding-left: .15rem
//     background: #f8f8f8
.aboutScd div h2
    font-size: 1.2rem
    line-height: 1.75rem
    margin-bottom: .05rem
.aboutScd div .underline
    width: 7%
    height: 10px
.aboutScd div p
    font-size: 1rem
    line-height: 1.3125rem
    letter-spacing: -0.03rem
    width: 31rem
    margin-bottom: .5rem
.aboutScd div img
    width: 22rem
    height: 12.20494rem
.aboutThrd div h2
    color: #2C2C2C
    font-size: 1.4rem
    line-height: 1.75rem
    letter-spacing: -0.05625rem
.aboutThrd div .underline
    align-self: center
    width: 8%
.aboutThrd div p
    font-size: .7rem
    letter-spacing: -0.03rem
    width: 26rem
    margin-bottom: 1rem
.aboutThrd div div
    @include rowFlex
    text-align: center
    gap: .8rem
.oldSummits1, .oldSummits2
    padding: .1rem
.oldSummits1 h3, .oldSummits2 h3
    font-size: 1.2rem
.partners
    margin-top: 3rem
    gap: .5rem
.partners div
    @include columnFlex
    padding-left: .15rem
.partners div h2
    color: $primaryColor
    font-size: 1.25rem
    font-family: $InterFont
    line-height: 1.75rem
    letter-spacing: -0.0125rem
.partners div .underline
    margin-top: .1rem
    width: 20%
.partners ul
    @include rowFlex
    flex-wrap: wrap
    gap: .5rem
    padding-left: .15rem
.partners ul li img
    width: 6rem
    height: 2rem
footer
    margin-top: 0rem
    opacity: 100%
    background: #F2F2F2
footer div
    @include rowFlex
    gap: 8rem
footer div .logo_img
    flex: 1
    background-image: url("../images/textBg.jpg")
    background-repeat: no-repeat
    -webkit-background-clip: text
    -webkit-text-fill-color: $primaryColor
    width: 25%

footer div div
    flex: 2
    @include columnFlex
    align-items: flex-start
    gap: .5rem
footer div div p
    color: #000
    font-size: 1rem
    font-family: $InterFont
    font-weight: 700
    line-height: 1.3rem
    letter-spacing: -0.056rem
